<template>
  <div class="hello" style="position:relative; bottom:60px; top:70px;">
    <center>
    <router-link to="/">
    <button type="button" class="btn btn-md btn-danger" style="position:relative; bottom:10px; right:390px;">Back</button>
    </router-link>
    <h2>Add Material Data</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Nama Barang</label></td>
        <td><input type="text" v-model="material.nama_barang"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Harga</label></td>
        <td><input type="number"  v-model="material.harga" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Stok</label></td>
        <td><input type="number" v-model="material.stok" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Satuan</label></td>
        <td><input type="text" v-model="material.satuan" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'MaterialForm',
  data () {
    return {
      material: {
        id: null,
        nama_barang: '',
        harga: '',
        stok: '',
        satuan: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost:8080/TugasAkhir/public/barang/'
      api.get(url + id).then(res => {
        this.material = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.material
      let url = 'http://localhost:8080/TugasAkhir/public/barang'

      if (this.material.id) {
        url += '/' + this.material.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
