<template>
  <div class="hello" style="position:relative; bottom:60px; top:70px;">
    <center>
    <h1>Material Data</h1>
    <router-link to="/create">
    <button type="button" class="btn btn-sm btn-primary " style="position:relative; bottom:10px; left:350px;">Add Data</button>
    </router-link>
    <table class="table table-hover table-striped" style="width:830px;" >
      <tr>
        <th>No</th>
        <th>Nama Barang</th>
        <th>Harga</th>
        <th>Stok</th>
        <th>Satuan</th>
        <th>Aksi</th>
      </tr>
      <tr v-for="(material, i) in data_material" :key="i">
          <td>{{ i + 1 }}</td>
          <td>{{ material.nama_barang }}</td>
          <td>{{ material.harga }}</td>
          <td>{{ material.stok }}</td>
          <td>{{ material.satuan }}</td>
          <td>
            <router-link :to="'/barang/' + material.id"><button type="button" class="btn btn-sm btn-success">Edit</button></router-link>
            <button @click="deleteRow(material.id)" class="btn btn-sm btn-warning">Delete</button>
          </td>
        </tr>
    </table>
    </center>
  </div>
</template>

<script>
import { api } from '@/helper/api'

export default {
  name: 'Material',
  data () {
    return {
      data_material: []
    }
  },
  mounted () {
    this.get()
  },
  methods: {
    get () {
      let url = 'http://localhost:8080/TugasAkhir/public/'
      let url2 = 'barang'
      api.get(url + url2).then(res => {
        if (res.data.status === 'success') {
          this.data_material = res.data.result
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    },
    deleteRow (id) {
      let url = 'http://localhost:8080/TugasAkhir/public/barang/'
      api.delete(url + id).then(res => {
        if (res.data.status === 'success') {
          this.get()
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
